*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7270ba;
  border: 2px solid black;
  color: white;
  padding: 20px;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}

#game-container{
  width: 400px;
  height: 400px;
  background: #332e5c;
  border: 10px solid #214280;
  position: relative;
}

#player{
  width: 10px;
  height: 10px;
  background: rgb(27 231 23);
  position: absolute;
  left: 200px;
  bottom: 30px;
}

.bullet{
  width: 3px;
  height: 5px;
  background-color: rgb(255, 255, 28);
  position: absolute;
}

.enemy{
  width: 15px;
  height: 15px;
  background: rgb(255, 246, 246);
  position: absolute;
}
